.body-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-family: 'Roboto Serif', serif;
}

.main-container {
    width: 100%;
    margin: 1em;
    overflow-y: auto;
    max-height: 85vh;
}

.movies-container, .tvshows-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.movie, .tvshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 11em;
    margin-left: 7px;
    margin-top: 3px;
}

.poster-container {
    position: relative;
}

.poster-img {
    width: 100%;
    height: 18em;
    border-radius: 10px;
    transition: opacity 0.3s ease;
    border: 0.2px solid lightgrey;
}

.poster-container:hover .poster-img {
    opacity: 0.2;
    cursor: pointer;
}

.release-date {
    visibility: hidden;
    position: absolute;
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 3px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
}

.poster-container:hover .release-date {
    visibility: visible;
}

.movie-title, .tvshow-title {
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.nothing-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-top: 5em;
}

.nothing-here{
    font-size: 25px;
    font-style: italic;
    color: gray;
}
