.body-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-family: 'Roboto Serif', serif;
}

.main-container {
    width: 100%;
    margin: 1em;
    overflow-y: auto;
    max-height: 85vh;
}

.movies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 11em;
    margin: 5px;
}

/* here */
.poster-container {
    position: relative;
}

.poster-img {
    width: 100%;
    height: 18em;
    border-radius: 10px;
    transition: opacity 0.3s ease; /* here */
}

/* here */
.poster-container:hover .poster-img {
    opacity: 0.2;
    cursor: pointer;
}

/* here */
.release-date {
    visibility: hidden;
    position: absolute;
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 3px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
}

/* here */
.poster-container:hover .release-date {
    visibility: visible;
    opacity: 1;
}

.movie-title {
    text-align: center;
    margin: 0;
}
