<app-header (activeTabEmitter)="onActiveTabSelection($event)" (searchQueryEmitter)="onSearchQuery($event)"></app-header>
<div class="body-container">
  <div class="side-menu-container">
    <app-side-menu (genreIdEmitter)="onGenreSelection($event)"></app-side-menu>
  </div>
  <!-- NO MOVIE/TVSHOW SELECTED -->
  <div class="main-container" *ngIf="selectedMovieId == -1 && selectedTvShowId == -1">
    <!-- movies -->
    <div class="movies-container" *ngIf="activeTab == 'movies' && upcomingMovies.length > 0">
      <div class="movie" *ngFor="let movie of upcomingMovies">
        <div class="poster-container" (click)="selectMovie(movie.id)">
          <img class="poster-img" *ngIf="movie.posterPath != null" [src]="'https://image.tmdb.org/t/p/w500' + movie.posterPath" alt="{{ movie.title }}">
          <span class="movie-info">                        
            <p class="movie-title"> {{ movie.title }}</p><br>
            Release Date <br> {{ movie.releaseDate }}
          </span>
        </div>
      </div>
    </div>
    <div class="movies-container" *ngIf="activeTab == 'movies' && upcomingMovies.length == 0">
      <div class="nothing-container">
        <p>No upcoming movies for this genre</p>
      </div>
    </div>
    <!-- tvshows -->
    <div class="tvshows-container" *ngIf="activeTab == 'TV shows' && upcomingTvShows.length > 0">
      <div class="tvshow" *ngFor="let tvShow of upcomingTvShows">
        <div class="poster-container" (click)="selectTVShow(tvShow.id)">
          <img class="poster-img" *ngIf="tvShow.posterPath != null" [src]="'https://image.tmdb.org/t/p/w500' + tvShow.posterPath" alt="{{ tvShow.name }}">
          <span class="tvshow-info">
            <p class="tvshow-title"> {{ tvShow.name }}</p><br>
            First Air Date <br> {{ tvShow.firstAirDate }}
          </span>
        </div>
      </div>
    </div>
    <div class="tvshows-container" *ngIf="activeTab == 'TV shows' && upcomingTvShows.length == 0">
      <div class="nothing-container">
        <p class="nothing-here">No upcoming TV Shows for this genre</p>
      </div>        
    </div>
  </div>
  <!-- MOVIE/TVSHOW SELECTED -->
  <div class="main-container" *ngIf="selectedMovieId != -1 || selectedTvShowId != -1">
    <div class="back-button-container">
      <button class="back-button" (click)="back()">
        <i class="fas fa-arrow-left"></i>
      </button>
    </div>
    <!-- movie -->
    <div class="movie-details-container" *ngIf="activeTab == 'movies'">
      <div class="upper-container">
        <div class="left-block">
          <div class="tgr-container">
            <div class="title-genres-container">
              <p class="title"> {{ selectedMovie.title }}</p>
              <p class="genres"> {{ selectedMovie.genres }} </p>
            </div>
            <div class="seperator1"></div>
            <div class="release-date-container">
              <p class="release-date"> {{ selectedMovie.releaseDate }} </p>
            </div>
          </div>
          <div class="overview-container">
            <p class="overview"> {{ selectedMovie.overview }} </p>
          </div>
        </div>
        <div class="seperator2"></div>
        <div class="right-block">
          <div class="cast-container">
            <div *ngFor="let actor of selectedMovie.cast">
              <img class="actor-picture" *ngIf="actor.profilePath" [src]="'https://image.tmdb.org/t/p/w500' + actor.profilePath" alt="{{ actor.name }}" />
            </div>
          </div>
        </div>
      </div>
      <div class="lower-container">
        <p class="more-movies">More upcoming {{ genreName.toLowerCase() }} {{ activeTab }}</p>
        <div class="movies-container" *ngIf="activeTab == 'movies' && upcomingMovies.length > 0">
          <div class="movie" *ngFor="let movie of upcomingMovies.slice(0, 7)">
            <div class="poster-container" (click)="selectMovie(movie.id)" [ngClass]="{'selected-movie': movie.id === selectedMovieId}">
              <img class="poster-img" *ngIf="movie.posterPath != null" [src]="'https://image.tmdb.org/t/p/w500' + movie.posterPath" alt="{{ movie.title }}">
              <span class="movie-info">                        
                <p class="movie-title">{{ movie.title }}</p><br>
                Release Date <br> {{ movie.releaseDate }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- tvshow -->
    <div class="tvshow-details-container" *ngIf="activeTab == 'TV shows'">
      <div class="upper-container">
        <div class="left-block">
          <div class="tgr-container">
            <div class="title-genres-container">
              <p class="title"> {{ selectedTvShow.name }}</p>
              <p class="genres"> {{ selectedTvShow.genres }} </p>
            </div>
            <div class="seperator1"></div>
            <div class="release-date-container">
              <p class="release-date"> {{ selectedTvShow.firstAirDate }} </p>
            </div>
          </div>
          <div class="overview-container">
            <p class="overview"> {{ selectedTvShow.overview }} </p>
          </div>
        </div>
        <div class="seperator2"></div>
        <div class="right-block">
          <div class="cast-container">
            <div *ngFor="let actor of selectedTvShow.cast">
              <img class="actor-picture" *ngIf="actor.profilePath" [src]="'https://image.tmdb.org/t/p/w500' + actor.profilePath" alt="{{ actor.name }}" />
            </div>
          </div>
        </div>
      </div>
      <div class="lower-container">
        <p class="more-tvshows">More upcoming {{ genreName.toLowerCase() }} {{ activeTab }}</p>
        <div class="tvshows-container" *ngIf="activeTab == 'TV shows' && upcomingTvShows.length > 0">
          <div class="tvshow" *ngFor="let tvShow of upcomingTvShows.slice(0, 7)">
            <div class="poster-container" (click)="selectTVShow(tvShow.id)" [ngClass]="{'selected-tvshow': tvShow.id === selectedTvShowId}">
              <img class="poster-img" *ngIf="tvShow.posterPath != null" [src]="'https://image.tmdb.org/t/p/w500' + tvShow.posterPath" alt="{{ tvShow.name }}">
              <span class="tvshow-info">
                <p class="tvshow-title"> {{ tvShow.name }}</p><br>
                First Air Date <br> {{ tvShow.firstAirDate }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>